.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
}

.SubHeader{
    background-color: #282c34;
    min-height: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.HomePage_Header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.HomePage_Button {
  width: 200px;
  margin:10px;
  padding: 15px 20px 15px;
  color: white;
  background-color: orange;
  border-style: solid;
  border-radius: 15px;
  font-size: large;
  font-weight: normal;
}

.HomePage_Button:hover{
  font-weight: bold;
  color: orange;
  background-color: white;
}

.Back_Button {
  position: fixed;
  width: 100px;
  margin:5px;
  bottom: 5px;
  padding: 15px 20px 15px;
  color: white;
  background-color: orange;
  border-style: solid;
  border-radius: 15px;
  font-size: large;
  font-weight: normal;
}

.Back_Button:hover{
  font-weight: bold;
  color: orange;
  background-color: white;
}

a{
  text-decoration: none;
}

.PageContentColumn{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.PageContentRow{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.Ticket{
  display: flex;
  flex-flow: column;
  width: 150px;
  height: 150px;
  margin:10px;
  padding: 15px 15px 15px;
  color: #282c34;
  background-color: white;
  border-style: solid;
  border-color: orange;
  border-radius: 15px;
  font-size: 100px;
  font-weight: bold;
}

.Custom_Div{
  display: flex;
  flex-flow: row;
  width: 90vw;
  height: 45vh;
  margin:10px;
  padding: 15px 20px 15px;
  color: #282c34;
  background-color: white;
  border-style: solid;
  border-color: orange;
  border-radius: 15px;
  font-size: large;
  font-weight: normal;
}

.Custom_Div_Dark{
  margin:10px;
  padding: 15px 20px 15px;
  color: white;
  background-color: #282c34;
  border-style: solid;
  border-color: orange;
  border-radius: 15px;
  font-size: large;
  font-weight: normal;
}

.Custom_Div_Orange{
  margin:10px;
  padding: 15px 20px 15px;
  color:white;
  background-color: orange;
  border-style: solid;
  border-color: #282c34;
  border-radius: 15px;
  font-size: large;
  font-weight: normal;
}

